In [ ]:
import pandas as pd

In [4]:
ddf = pd.read_parquet("""/mnt/stock_data/tmp_dask/2020-05-20.parquet""")

In [5]:
cdf = pd.read_parquet("""/mnt/stock_data/tmp_cudf/2020-05-20.parquet""")

In [11]:
ddf.shape[0]/cdf.shape[0]

0.9999339089406546

In [18]:
ddf.memory_usage().sum()/2**30

2.9033673349767923

In [19]:
cdf.memory_usage().sum()/2**30

2.9035592768341303

In [22]:
a = ddf.index.difference(cdf.index)

In [23]:
pd.DataFrame(a)

                                  0
0       (2263, 2020-05-20 09:51:21)
1       (2266, 2020-05-20 09:51:21)
2       (2267, 2020-05-20 09:51:21)
3       (2268, 2020-05-20 09:51:21)
4       (2270, 2020-05-20 09:51:21)
...                             ...
3729  (900926, 2020-05-20 13:53:57)
3730  (900929, 2020-05-20 09:46:14)
3731  (900932, 2020-05-20 13:53:54)
3732  (900932, 2020-05-20 14:57:54)
3733  (900939, 2020-05-20 10:08:23)

[3734 rows x 1 columns]

In [24]:
b = pd.DataFrame(a)

In [25]:
b.columns = ['tuple_code']

In [26]:
b['code'] = b.tuple_code.map(lambda x: x[0])

In [27]:
b['time'] = b.tuple_code.map(lambda x: x[1])

In [28]:
b = b.sort_values('code')

In [29]:
b.to_excel('/mnt/stock_data/shareddata/b.xlsx')